<div class="delete-all-spellcasting-dialog selection"> 
  <div style="margin-bottom: 17px;">
      <label>Are you sure you want to delete *** all *** spellbooks</label>
  </div>
  <div style="margin-bottom: 5px;">
      <label>{{localize "PF2E.DeleteSpellcastEntryWarning"}}</label>
  </div>
</div>
