#pause.paused{display:none}
#interface #ui-left{display: none}


.inputCont>table>tbody>tr>td, .selection>tbody>tr>td, .customCost>tbody>tr>td {
    margin: 0px;
    padding: 0px;
    position: relative;
    font-size: 1.1em;
}
.updown {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: relative;
}

.downup {
    padding: 0px;
    margin: 0px;
    position: relative;
    display: inline-block;
}

.downup td:nth-child(3n+2) {
    width: 50px;
}

.updownCont {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 16px;
    height: 30px;
    top: 0px;
    left: 0px;
}

.up {
    position: absolute;
    height: 16px;
    width: 16px;
    margin: 0px;
    top: 0px;
    left: 0px;
    border-style: outset;
    border-width: 2px;
    background-color: #333d4d;
    padding: 0px;
    background-position: center;
    background: url('images/uparrow.png') no-repeat;
  	background-size: contain;
}

.down {
    position: absolute;
    height: 16px;
    width: 16px;
    margin: 0px;
    top: 17px;
    left: 0px;
    border-style: outset;
    border-width: 2px;
    background-color: #333d4d;
    padding: 0px;
    background-position: center;
    background: url('images/downarrow.png') no-repeat;
    background-size: contain;
}

button.up, button.down {
    background-color: black;
}
button.apply_stats {
    height: 29px;
    width: 88px;
}


.tutorial.sheet .tut-head  {
    padding: 5px 5px
}    
.tutorial.sheet {
    width: 98%;
    padding: 10px 11px 20px 10px;
}
.tutorial.sheet .sheet-navigation  {
    padding-bottom: 2px;
    padding-top: 8px;
}
.tutorial.sheet .sheet-navigation a {
    padding: 5px 7px;
}
.tutorialx.sheet h1 {
    width: 520px
}
.app.tutorial {
    max-height: 100%;
    background: none;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--color-shadow-dark);
    margin: 3px 0;
    padding: 0.5em;
    color: black;
    z-index: var(--z-index-app);
    transform-origin: top left;
    height: 94%;
}
.app.tutorial .header-section {
    max-height: 100%;
    background: dimgray;
    border-radius: 5px;
    box-shadow: 0 0 20px var(--color-shadow-dark);
    margin: 3px 0;
    padding: 0.5em;
    color: var(--color-text-light-highlight);
    z-index: var(--z-index-app);
    transform-origin: top left;
}
.app.tutorial section.sheet-content {
    margin-top: 25px;
}
.app.tutorial button.button.page.but {
    width: 191px;
    height: 50px;
}
.choice-set-prompt a.help-link{
    background: #DDD;
    padding: 1px 4px;
    color: black;
    border: none;
    line-height: 0;
}
.choice-set-prompt a.help-link i{
    color: black;
}
