<div class="tab ancestry" data-group="primary" data-tab="ancestry">
    <section class="Description">
        <div class="descript">
            <div class="mainsection">
                <p>The first thing we are going to do is use the Pathfinder 2e "<strong>ABC"</strong> method</p>
                <p>The <span class="accent">A</span> stands for <strong>Ancestry</strong>.
                   (AKA race) of your character.<br />
                    I have already click on the browse <i class="fas fa-fw fa-search"></i> button for you. </br>
                    Review the ancestries available. <br/>
                    Drag and Drop you choice into <span class="glowing">glowing</span> 
                    field on your character sheet
                    <br />&nbsp;<br />
                    <iframe id="youtube-ltbyDgxGiK707Z5p" src="modules/pf2e-char-builder/styles/images/optionsdemo.mp4" 
                        frameborder="0" allowfullscreen="" allow="autoplay" title="AUTOMATON ANCESTRY GUIDE - PATHFINDER 2E" 
                            style="width: 470px; height: 353px;
                    ">
                    </iframe>
                </p>
                <p>When finished click the button to continue</p>
            </div>
            <div class="subsection">
                <div style="float:left; width: 207px; height:304px;">
                    <p>Next you can select your "sub ancestry" choice also known as your <strong>Heritage</strong>.<br />
                    Again, review your choices then drag and drop your selection.<br />
                    </p>
                    <p>When finished, Let's go to the next process</p>
                </div>
                
                <iframe id="youtube-ltbyDgxGiK707Z5p" src="modules/pf2e-char-builder/styles/images/ScreenHeritage.mp4" 
                    frameborder="0" allowfullscreen="" allow="autoplay" title="AUTOMATON ANCESTRY GUIDE - PATHFINDER 2E" 
                        style="width: 416px; height: 343px; float: right;"
                >
                </iframe>
            </div>
            
        </div>
        <div>
            <button type="button" class="button ancestry page but next section">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>