<div class="tab ancestry" data-group="primary" data-tab="ancestry">
    <section class="Description">
        <div class="descript">
            <div class="mainsection">
                <p>The first thing we are going to do is use the Pathfinder 2e "<strong>ABC"</strong> method</p>
                <p>The <span class="accent">A</span> stands for <strong>Ancestry</strong>. This is the type of creature (AKA race) your character is. 
                    On the Character sheet you will see a <span class="glowing">glowing</span> field under the Ancestry title. 
                    In the input box, <span class="accent">click</span> on the  <i class="fas fa-fw fa-plus-circle"></i> button 
                    to view your options, feel free to click on the descriptions of each class. Close the 
                    class descriptions when done. When you've made your choice go back to the original class option menu and 
                    drag your choice to the Ancestry box
                </p>
                <p>When finished, click the button to fill the Sub Ancestry field</p>
            </div>
            <div class="subsection">
                <p>Next you can select your "sub ancestry" choice also known as your <strong>Heritage</strong>. The action  
                    is the same (<span class="accent">click</span> on the  Magnifier <i class="fas fa-fw fa-search"></i> ), 
                    this will bring up a compendium browser and show 
                    the options. Again you can click on and close to review each one. Some Heritage give you 
                    additional bonuses that might compliment your type of character. Use the 
                    compendium window to drag and drop your selection into the Heritage box&nbsp;
                </p>
                <p>
                    You will notice that once you filled a field the symbol to the right changes to a <i class="fa-solid fa-fw fa-ellipsis-v"></i><br />
                    This new symbol allows you to delete your choice and start again. 
                </p>
                <p>When finished, Let's go to the next process</p>
            </div>
        </div>
        <div>
            <br />
            <button type="button" class="button ancestry page but next section">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>