<div class="tab background" data-group="primary" data-tab="background">
    <section class="Description">
        <div class="descript">
            <p>The <span class="accent">B</span> stands for <strong>Background</strong>. 
                When you <span class="accent">click</span> on the <i class="fas fa-fw fa-plus-circle"></i> sign on the 
                background input box you will get a good number of choices. These are here 
                to provide additional color to you character. Background also provide you with bonuses that can compliment
                your character. Use the click, review, and then drag and drop methods to finish 
                your selection into the background box.
            </p>
        </div>
        <div>
            <br />
            <button type="button" class="button background page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>