<div class="tab background" data-group="primary" data-tab="background">
    <section class="Description">
        <div class="descript" style="float:left; width: 207px; height:304px;">
            <p>The <span class="accent">B</span> stands for <strong>Background</strong>. <br />
               These provide additional color to you character. 
                Background also provide you with bonuses that can compliment your character. 
                Review, then drag and drop your selection into glowing box. 
            </p>
        </div>
        <div>
            <br />
            <iframe id="youtube-ltbyDgxGiK707Z5p" src="modules/pf2e-char-builder/styles/images/ScreenBackground.mp4" 
                        frameborder="0" allowfullscreen="" allow="autoplay" title="AUTOMATON ANCESTRY GUIDE - PATHFINDER 2E" 
                            style="width: 416px; height: 343px; float: right;"
            >
            </iframe>
            <button type="button" class="button background page but next" style="float: left">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>