<div class="tab background" data-group="primary" data-tab="background">
    <section class="Description">
        <div class="descript">
            <p>The <span class="accent">B</span> stands for <strong>Background</strong>. <br />
               These provide additional color to you character. 
                Background also provide you with bonuses that can compliment your character. 
                Review, then drag and drop your selection into glowing box. 
            </p>
        </div>
        <div>
            <br />
            <button type="button" class="button background page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>