<div class="tab bio" data-group="primary" data-tab="bio">
    <section class="Description">
        <div class="descript">
            <p>
                The final page!
            </p>
            <p>
                This page is for you to describe the unique details of your character. <br />
                Feel free to describe your appearance or attach a link to a photo.
                Add your backstory. Mention your quirks. You can also add some personal notes of the campaign here.
            </p>

            <p>
                <strong>Hooray</strong>, we are done. Ready to adventure and create a legend!
            </p>
            <p>
                But Wait! We did no go through all the pages. This is true. 
                Action, Inventory, Effects and Society are post creation pages and not covered here.
                But feel free to look them over.
            </p>

        </div>
    </section>
</div>