<div class="tab classSheet" data-group="primary" data-tab="classSheet">
    <section class="Description">
        <div class="descript">
            <p>
                The <span class="accent">C</span> stands for <strong>Class</strong>. This is the your character's profession. 
                Again, you are going to click, review and then drag and drop your selection into the Class box.
            </p>
            <p>
                At this point, additional options might come up with respect to the class you have chosen. I have 
                included a help <i class="fa fa-question-circle"></i> or browse <i class="fas fa-fw fa-edit"></i>  button on the top of these menus that you can look at to find out more about the 
                choices and what they mean. After you have reviewed them. Click on your selection.
            </p>
        </div>
        <div>
            <br />
            <button type="button" class="button classSheet page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>