<div class="tab classSheet" data-group="primary" data-tab="classSheet">
    <section class="Description">
        <div class="descript">
            <p>
                The <span class="accent">C</span> stands for <strong>Class</strong>. 
                This is the your character's profession. <br />
                Review then drag and drop your selection into the Class box.
            </p>
            <p>
                Please note additional options might come up during your selection. <br />
                There are some info links to help you make your selection.
            </p>
            <br />&nbsp;<br />
            <iframe id="youtube-ltbyDgxGiK707Z5p" src="modules/pf2e-char-builder/styles/images/ScreenClass.mp4" 
                frameborder="0" allowfullscreen="" allow="autoplay" title="AUTOMATON ANCESTRY GUIDE - PATHFINDER 2E" 
                    style="width: 470px; height: 353px;
            ">
            </iframe>
        </div>
        <div>
            <br />
            <button type="button" class="button classSheet page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>