<div class="tab feats" data-group="primary" data-tab="feats">
    <section class="Description">
        <div class="descript">
            <div>Pathfinder feats</div>
        </div>
        <div>
            <br />
            <button type="button" class="button feats page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>