<div class="tab feats" data-group="primary" data-tab="feats">
    <section class="Description">
        <div class="descript">
            <p>
                Now you might or might not have to select some feats
            </p>
            <p>
                Feats are special abilities that your character can do.<br />
                These are typically awarded to you by your class, ancestry or other general abilities. <br />
                Feats that need to be selected will be marked as "Empty Slots"<br />
                Used the browse <i class="fas fa-fw fa-search"></i> button to view the many fantastic abilities that you can use.<br />
                The browse button will automatically filter the feats available for that particular slot.
            </p>
            <p>
                When you are done with all the slots you can continue on this tutorial
            </p>
        </div>
        <div>
            <br />
            <button type="button" class="button feats page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>