<div class="tab interface" data-group="primary" data-tab="interface">
    <section class="Description">
        <div class="descript">
            <p>Let's start by learning some <strong>Foundry</strong> interface basics.</p>
            <p>Foundry is the program you currently using.&nbsp;</p>
            <p>This tutorial will serve as brief explanation on how to use it to make a character<br />
               The Foundry character sheet on its own does not walk you through the steps. <br />
               The sheet is mouse and window driven. On occasion you may need to move windows around.</p>
            <p>The most common mouse action involves three steps</p>
            <ol>
            <li>Clicking on the browse <i class="fas fa-fw fa-search"></i> button. This will bring up an additional selection window</li>
            <li>Browse through the selections available and choose one.</li>
            <li>With the choice you have selected in mind, drag and drop it into the field you wish to fill.</li>
            <li>The option <i class="fa-solid fa-fw fa-ellipsis-v"></i> button within fields provides additional functions (edit, delete)</li>
            </ol>
            <p></p>
        </div>
        <div>
            <br />
            <button type="button" class="button interface page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>