<div class="tab intro" data-group="primary" data-tab="intro">
    <section class="Description">
        <div class="descript">
            <div><span>Pathfinder is a roleplaying game originating from an older version of D</span><span>&amp;</span><span>D (namely 3.5).</span></div>
            <div><span>It is uniquely different from D&amp;D 5e in the following manner:</span></div>
            <div><span></span></div>
            <ul>
                <li><span>More frequent critical rolls and less use of advantage and attack of opportunities.</span></li>
                <li><span>Fighter are more effective in the front-end while caster are better with support and AOE</span></li>
                <li><span>Some spellcasters choose specific prepared spells in advanced</span></li>
                <li><span>Feats are used more often.</span></li>
                <li><span>Combat is statistically balance.</span></li>
            </ul>
            <p><span>So before we get started, let's think of a character you want to play:</span><span></span></p>
            <ul>
                <li>Shaolin monk who needs to prove his prowess before returning to the monastery</li>
                <li>Champion fighter who is set to right a wrong that has fallen upon his world</li>
                <li>Apprentice wizard who would like to establish his own stature in a new community</li>
                <li>Bard who is looking for tales that he can set to music and establish his fame in the world.</li>
            </ul>
            <p>You can find additional inspiration within the Pathfinder core book. <br />Its nice to have a concept before you start</p>
            <p>If you found your concept. Great! <br />If not, don't worry we will walk you through the various choices for inspiration<br />
            Please click on the next button to get started</p>
        </div>
        <div>
            <br />
            <button type="button" class="button intro page but next" data-coord="305,228,595,450" data-parent-tab="character">
                Next &nbsp;<i class="fa-solid fa-arrow-right"></i>
            </button>
            <div class="autocheck">
                <label>
                     Do not display again 
                    <input type="checkbox" value=1 id="autotutorial"> 
                </label>
            </div>
        </div>
    </section>
</div>
