<div class="tab misc" data-group="primary" data-tab="misc">
    <section class="Description">
        <div class="descript">
            <p>
                We are almost done with this page!
            </p>
            <p>
                Some items are now automatically populated for you. 
            </p>
            <p>    
                This tutorial has calculated the number of additional languages you are awarded.<br />
                Click on the 
                <span class="tag_secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" 
                        width="24" height="24" viewBox="0 0 24 24" fill="none" 
                        stroke="currentColor" stroke-width="3" stroke-linecap="round" 
                        stroke-linejoin="round" class="feather feather-plus">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                </span>
            
                 button under the glowing number to add languages to your sheet. (If one exists)
            </p>    
            <p>Normally after this you would select among the round menu items on the top to change your page</p>
            <img src="modules/pf2e-char-builder/styles/images/menus.png" alt="menu image"/>
            <p>
               But let's click on next button and the page will be for changed for you.
            </p>
        </div>
        <div>
            <br />
            <button type="button" class="button misc page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>