<div class="tab misc" data-group="primary" data-tab="misc">
    <section class="Description">
        <div class="descript">
            <div>Pathfinder misc</div>
        </div>
        <div>
            <br />
            <button type="button" class="button misc page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>