<div class="tab profs" data-group="primary" data-tab="profs">
    <section class="Description">
        <div class="descript">
            <p>
                Now we are at the proficiency page which represent the certain special skill your character may have
            </p>
            <p>
                Some skills have been automatically chosen for you.
            </p>
            <p>
                This tutorial has tried to calculate the number of additional proficiencies you have been awarded.<br/>
                To add a proficiency simply <span class="accent">click</span> on a item that is marked 
                <span class="untrained">untrained</span> and promote to <span class="trained">trained</span> <br />
                You can also write in a proficiency under the "Lore Skills" by clicking its the "+ Add" button
            </p>
            <p>
                Bear in mind that each particular proficiency skill normally can only be promoted up one level. So skipping from 
                "untrain" to "master" or above does not usually occur
            </p>
            <p>
                Note: At first level most skills cannot exceed beyond <span class="trained">trained</span>
            </p>
        </div>
        <div>
            <br />
            <button type="button" class="button profs page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>