<div class="tab profs" data-group="primary" data-tab="profs">
    <section class="Description">
        <div class="descript">
            <div>Pathfinder profs</div>
        </div>
        <div>
            <br />
            <button type="button" class="button profs page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>