<div class="tab scores" data-group="primary" data-tab="scores">
    <section class="Description">
        <div class="descript">
            <div class="mainsection">
                <p>
                    Now you are finished with the <strong>ABC 's</strong>, let's refine your character by chooseing some supporting selections
                </p>
                <p>
                    The next choice and one of the most important one is to choose you abiltiy score modifiers. Your ABC's have gifted
                    you with some bonuses that you can choose to increase your scores to best fit the type of character you want to make.
                </p>

                <p>
                    To Continue with the Tutorial <span class="accent">Click</span> on the <strong class="tut-small-but"><i class="fas fa-fw fa-edit"></i>Edit</strong>  
                    button located across and to the right  of the "Ability Scores" title below. <br />
                </p>
            </div>
            <div class="subsection">
                <p>    
                    Once you open this window you will see <span class="accent">Boost</span> rows 
                    which allows you to increase an <span class="accent">Ability</span> column marked on top.<br />  
                    Each boost row begins with a number <strong class="remaining extra">1</strong> that inform you how many boost you get per row.
                </p>
                <p>
                    <br />
                    When you are done click on the <span class="complete">Complete</span> button to save your new scores
                </p>
                <div>
                    <br />
                    <button type="button" class="button scores page page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
                </div>  
            </div>      
        </div>

    </section>
</div>