<div class="tab spells" data-group="primary" data-tab="spells">
    <section class="Description">
        <div class="descript">
            <p>Spells!</p>
            <p>
                Some charaters used them other do not. <br/>
                This section is used to record what spells you can use and how to use them.<br/>
                You GM can manually create your spell collections with the "Spellcasting Entry" button<br/>
            </p>
            <p>
                This tutorial has a spell generator that will try to create your collections for you, <br />based on the class and options you have chosen.
            </p>
            <p>
                Once you have created you spell collections you will need to populate it with either learned or spontaneous spell.<br/>
                Use the browse <i class="fas fa-fw fa-search"></i> button to view the spell you can select from.
            </p>
        </div>
        <div>
            <br />
            <button type="button" class="button spells page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>