<div class="tab spells" data-group="primary" data-tab="spells">
    <section class="Description">
        <div class="descript">
            <div>Pathfinder spells</div>
        </div>
        <div>
            <br />
            <button type="button" class="button spells page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>