<div class="tab stuff" data-group="primary" data-tab="stuff">
    <section class="Description">
        <div class="descript">
            <p>
                Stuff, All characters needs stuff! 
            </p>
            <p>
                Click on the shop button below and use your initial 15gp to purchase the things 
                your character might need like....
            </p>
            <ul>
                <li>Armour</li>
                <li>Shield</li>
                <li>Weapons</li>
                <li>Magical/Alchemist Components</li>
                <li>Adventure Kit</li>
            </ul>

            <p>
                There are some Kits made special for each class that can you purchase or look at to give you
                some ideas.
            </p>
            <p>&nbsp;</p>
            <button type="button" class="littleShop" style="float: left; width:200px; height:50px;" >Goto Shop &nbsp;<i class="fa-solid fa-store"></i></button> 
            <button type="button" class="button stuff page but next" style="float: left">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>