<div id="tutorial" class="app window-app default sheet character tutorial">
        <form class="crb-stylexxx" autocomplete="off">
            <div class="header-section">
                <!-- HEADER -->
                <h1 class="tut-head">Welcome to Pathfinder</h1>
                <!-- SHEET NAVIGATION -->
                <nav class="sheet-navigation" data-group="primary">
                    <a class="item" data-tab="intro" data-coord="0,780,730,733" data-parent-tab="character" title="Welcome to Pathfinder">
                        Intro
                    </a>
                    <a class="item" data-tab="interface" data-coord="0,780,730,560" data-parent-tab="character" title="Foundry Interface">
                        Interface
                    </a>
                    <a class="item" data-tab="ancestry" data-coord="0,780,730,800" data-parent-tab="character" title="Ancestry">
                        Ancestry
                    </a>
                    <a class="item" data-tab="background" data-coord="0,780,730,535" data-parent-tab="character" title="Background">
                        Background
                    </a>
                    <a class="item" data-tab="classSheet" data-coord="0,780,730,791" data-parent-tab="character" title="Class">
                        Class
                    </a>
                    <a class="item" data-tab="scores" data-coord="0,780,730,400" data-parent-tab="character"  title="Ability Scores">
                        Scores
                    </a>
                    <a class="item" data-tab="misc" data-coord="0,780,730,520" data-parent-tab="character" title="Miscellaneous">
                        Misc
                    </a>
                    <a class="item" data-tab="profs" data-coord="0,780,730,500" data-parent-tab="proficiencies" title="Proficiencies">
                        Profs
                    </a>
                    <a class="item" data-tab="feats" data-coord="0,780,730,460" data-parent-tab="feats" title="Feats">
                        Feats
                    </a>
                    <a class="item" data-tab="spells" data-coord="0,780,730,520" data-parent-tab="spellcasting" title="Spells">
                        Spells
                    </a>
                    <a class="item" data-tab="stuff" data-coord="266,780,730,480" data-parent-tab="stuff" title="Stuff">
                        Stuff
                    </a>
                    <a class="item" data-tab="bio" data-coord="0,780,730,450" data-parent-tab="biography" title="Biography">
                        Bio
                    </a>
                </nav>
            </div>
            <!-- BODY -->
            <section class="sheet-content">

                <!-- Intro -->
                {{> (lookup . 'intro')  }}

                <!-- Interface -->
                {{> (lookup . 'interface')  }}     

                <!-- Ancestry -->
                {{> modules/pf2e-char-builder/templates/tutorial/tabs/ancestry.hbs }}

                <!-- Background -->
                {{> modules/pf2e-char-builder/templates/tutorial/tabs/background.hbs  }}
                
                <!-- Class -->
                {{> (lookup . 'classSheet')  }}

                <!-- Scores -->
                {{> (lookup . 'scores')  }}
                
                <!-- Misc -->
                {{> (lookup . 'misc')  }}
                
                <!-- Profs -->
                {{> (lookup . 'profs')  }}
                
                <!-- FEATS -->
                {{> (lookup . 'feats')  }}
                
                <!-- Spells -->
                {{> (lookup . 'spells')  }}

                <!-- Stuff -->
                {{> (lookup . 'stuff')  }}
                
                <!-- BIOGRAPHY -->
                {{> (lookup . 'bio')  }}

            </section>
        </form>
</div>    
