<div id="tutorial" class="app window-app default sheet character tutorial">
        <form class="crb-stylexxx" autocomplete="off">
            <div class="header-section">
                <!-- HEADER -->
                <h1 class="tut-head">Welcome to Pathfinder</h1>
                <!-- SHEET NAVIGATION -->
                <nav class="sheet-navigation" data-group="primary">
                    <a class="item" data-tab="intro" data-coord="102,228,595,620" data-parent-tab="character" title="Welcome to Pathfinder">
                        Intro
                    </a>
                    <a class="item" data-tab="ancestry" data-coord="305,228,595,450" data-parent-tab="character" title="Ancestry">
                        Ancestry
                    </a>
                    <a class="item" data-tab="background" data-coord="305,228,595,450" data-parent-tab="character" title="Background">
                        Background
                    </a>
                    <a class="item" data-tab="classSheet" data-coord="305,228,595,450" data-parent-tab="character" title="Class">
                        Class
                    </a>
                    <a class="item" data-tab="scores" data-coord="134,228,595,450" data-parent-tab="character"  title="Ability Scores">
                        Scores
                    </a>
                    <a class="item" data-tab="misc" data-coord="600,228,595,420" data-parent-tab="character" title="Miscellaneous">
                        Misc
                    </a>
                    <a class="item" data-tab="profs" data-coord="665,228,595,320" data-parent-tab="proficiencies" title="Proficiencies">
                        Profs
                    </a>
                    <a class="item" data-tab="feats" data-coord="540,228,595,320" data-parent-tab="feats" title="Feats">
                        Feats
                    </a>
                    <a class="item" data-tab="spells" data-coord="359,228,595,420" data-parent-tab="spellcasting" title="Spells">
                        Spells
                    </a>
                    <a class="item" data-tab="bio" data-coord="665,228,595,420" data-parent-tab="biography" title="Biography">
                        Bio
                    </a>

                </nav>
            </div>
            <!-- BODY -->
            <section class="sheet-content">
                <!-- Intro -->
                {{> "modules/jcp-custom-module/templates/tutorial/tabs/intro.hbs"}}

                <!-- Ancestry -->
                {{> "modules/jcp-custom-module/templates/tutorial/tabs/ancestry.hbs"}}
                
                <!-- Background -->
                {{> "modules/jcp-custom-module/templates/tutorial/tabs/background.hbs"}}
                
                <!-- Class -->
                {{> "modules/jcp-custom-module/templates/tutorial/tabs/classSheet.hbs"}}

                <!-- Scores -->
                {{> "modules/jcp-custom-module/templates/tutorial/tabs/scores.hbs"}}
                
                <!-- Misc -->
                {{> "modules/jcp-custom-module/templates/tutorial/tabs/misc.hbs"}}
                
                <!-- Profs -->
                {{> "modules/jcp-custom-module/templates/tutorial/tabs/profs.hbs"}}
                
                <!-- FEATS -->
                {{> "modules/jcp-custom-module/templates/tutorial/tabs/feats.hbs"}}
                
                <!-- Spells -->
                {{> "modules/jcp-custom-module/templates/tutorial/tabs/spells.hbs"}}
                
                <!-- BIOGRAPHY -->
                {{> "modules/jcp-custom-module/templates/tutorial/tabs/bio.hbs"}}
                
            </section>
        </form>
</div>    
