<div class="tab ancestry" data-group="primary" data-tab="ancestry">
    <section class="Description">
        <div class="descript">
            <div>Pathfinder Ancestry</div>
        </div>
        <div>
            <br />
            <button type="button" class="button ancestry page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>