<div class="tab background" data-group="primary" data-tab="background">
    <section class="Description">
        <div class="descript">
            <div>Pathfinder background</div>
        </div>
        <div>
            <br />
            <button type="button" class="button background page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>