<div class="tab classSheet" data-group="primary" data-tab="classSheet">
    <section class="Description">
        <div class="descript">
            <div>Pathfinder classes</div>
        </div>
        <div>
            <br />
            <button type="button" class="button classSheet page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>