<div class="tab scores" data-group="primary" data-tab="scores">
    <section class="Description">
        <div class="descript">
            <div>Pathfinder scores</div>
        </div>
        <div>
            <br />
            <button type="button" class="button scores page page but next">Next &nbsp;<i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </section>
</div>