<div class="delete-all-spellcasting-dialog selection"> 
  <div >
      <label>You removed your class</label>
  </div>
  <div style="margin-bottom: 17px;">
      <label>Do you wish to remove all spellbooks<label>
  </div>
  <div style="margin-bottom: 5px;">
      <label>{{localize "PF2E.DeleteSpellcastEntryWarning"}}</label>
  </div>
</div>
